<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Login - Mock Exchange</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Main Content -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="text-center mb-4">Hey Admin, Welcome to Admin Login</h2>

          <!-- Login Form -->
          <form form action="/admin" method="POST">
            <div class="form-group">
              <label for="inputEmail">Email:</label>
              <input
                type="email"
                class="input-field form-control"
                name="email"
                id="email" 
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group">
              <label for="inputPassword">Password:</label>
              <input
                type="password"
                name="password"
                class="form-control input-field"
                id="inputPassword"
                placeholder="Enter your password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
