<!DOCTYPE html>
<html lang="en">
    <%- include ('head_Tag');%>
    <link rel="stylesheet" href="/css/custom.css">
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
<body style="background-color: white;">
    
    <div class="levels" style="z-index:5">
        <form action="/forgotPassword" method="POST" id="login_form"class="formlayout" style="display: flex;flex-direction: column;align-items: center;">
            <h1 style="color:rgb(0, 0, 0)">Forgot Password?</h1>
          <h1 style="color:rgb(75, 202, 244)">Enter registered email:</h1>
            <br>
            <div>
              <input type="email" name="email" id="email" value="" class="input-field"placeholder="Enter email"required/>
              <div id="invalid_email">invalid email</div>
              <div id="valid_email">Seems Good</div>
              <div id="valid_email_exists">No such email exists</div>
            </div>
            <br>
            <button type="submit" class="btn-nav" id="login" disabled>Get Link</button>
            <br>
          </form>
    </div>
    <!-- <script src="/js/index.js"></script> -->
    <!-- <script src="js/forgotPassword.js"></script> -->
    <script src="js/email-checker-forgotPassword.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>